.golden{
    background-color: rgb(255,165,0);
    padding: 4% 6% 0 6%;
    border: 1px solid purple;
    
    
}
.grey{
    background-color: rgb(245,245,245);
    padding: 4% 6% 0 6%;
}
h1{
    border:1px solid purple;
    width: 50%;
    line-height: 50px;
    font-size: 40px;
}