.logo_container{
    display: flex;
    justify-content: space-between;
    padding: 4% 6% 0 6%;
    align-items: center;
    font-size: 20px;
    border: 1px solid green;

}
.golden{
    background-color: rgb(255,165,0);
}
.grey{
    background-color: rgb(245,245,245);
}
h5{
    border: 1px solid blue;
    margin-top: -4%;
}